body{
    background-image: url("image2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:yellow;
    text-align:center;

}
#d{
    font-size: 20px; 

}
td{
    vertical-align: center;
}

.simple-form
{
    text-align:center;
    margin:50px 100px ;   
   padding:50px;
}
#registration
{
    width: 50%;
    background-color: #051019;
    border-radius: 10px;
    opacity:0.7;
    padding:50px 50px;
    margin:50px 100px ; 


    
}
#input{
    width:250px;
    border-radius: 5px;
    padding:10px;
    outline: 0px;
    
}
#but{
    color: yellow;
    font-size: 18px;
}
#ph{
    border-radius: 5px;
    outline: 0px;
    padding:10px;
    width: 250px;
    position: relative;
}
#button
{
    width:125px;
    border-radius: 5px;
    padding:10px;
    outline: 0px;
}